<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Empleado</h4>
        <h6 class="card-subtitle">Crear Empleado</h6>
        <form class="form-horizontal p-t-20">
          <div class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label">Nombre</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputuname3"
                  placeholder="Nombre del Empleado"
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label">Matrícula</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputuname3"
                  placeholder="Matrícula del Empleado"
                />
              </div>
            </div>
          </div>
          <div class="form-group row m-b-0">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" class="btn btn-success waves-effect waves-light">
                <i class="fa fa-save"></i> Guardar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Empleados</h4>
        <h6 class="card-subtitle">Empleados registrados</h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Id Empleado</th>
                <th>Nombre</th>
                <th>Matrícula</th>
                <th class="text-nowrap">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
                <td class="text-nowrap text-center">
                  <a href="#" data-toggle="tooltip" data-original-title="Editar">
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a href="#" data-toggle="tooltip" data-original-title="Borrar">
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
